<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./login.component.css" rel="stylesheet">
    <title>NINEstore</title>
</head>
<body>
    <header>
        <div id="title">
            <h1>NINE</h1>
            <h1>STORE</h1>
        </div>
        <ul>
            <a href="#"><li>Suporte</li></a>
            <a href="#" id="perfilteste"><li>Perfil</li></a>
        </ul>
    </header>
    <main>
        <aside>
            <h2>Crie sua conta</h2>
            <h2>na <span>NINE</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quidem libero eligendi necessitatibus quae blanditiis debitis dolor facilis dolores. Nesciunt quisquam deleniti dolor rem corrupti sunt modi impedit voluptate fuga?</p>
            <form>
                <input type="text" placeholder="Nome">
                <input type="email" placeholder="E-mail">
                <input type="submit" value="Criar">
            </form>
        </aside>
        <article>
            <img src="assets/9.png" alt="9">
        </article>
    </main>
</body>
</html>